/* add your CSS here */
.card-interesting-fact {
    font-style: italic;
}

.item {
    font-weight: bold;
}

li {
    list-style-type: none;
}

.main-container {
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 300px;
    padding-bottom: 10px;
}